html{
    height:100%;
}

body {
    background-color: #f7f5fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    flex: 0 0 50px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.my_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.my_modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.my_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.my_close-button:hover {
    background-color: darkgray;
}
.my_show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.my-wrapper {
    position: relative;
    overflow: hidden;
}

.my-area {
    background-color: #465362;
}

.my-area > img {
    width:10%;
    height: 10%;
}

.my-area > button {
    border-radius:0px;
}

.my-deco {
    position: absolute;
    z-index: 1;
}

.msg-info {
    min-height: 300px;
}

.my-area > label {
    margin-bottom: 0;
    border-radius:0px;
}

#set-img {
    min-height: 100px;
}

canvas {
    background-color: blue;
}

.my-grid > picture {
    position : relative;
    background-color: transparent;
}

.img-thumbnail {
    padding: 0;
    border: 0px solid #dee2e6;
    border-radius: .25rem;
}

.name-photo {
    background-color: #0e3f7a99;
    position: absolute;
    top: 0;
    padding: 10px;
    color:#f4fffd;
    font-weight: bold;
}

#my-photo > h1 {
    text-align: center;
}

.my-comment {
    width: 50%;
    position:relative;
}

.btn-cmt {
    position: absolute;
    right: 0px;
}

.my-list {
    margin-top: 45px;
}

.like-photo:after {
    content: " Like(s)";
}

.my-nav {
    margin-bottom:0.5vw !important;
    border-bottom: #465362 10px solid;
}

.my-nav {
    background-color: #011936;
}
.my-nav > a {
    color: #f4fffd;
}
.my-nav > a:hover {
    background-color: #465362;
    color: #f4fffd;
}

.pagination {
    margin-bottom: 0px;
    color: #f4fffd;
}

.page-item a {
    background-color: #465362;
}

.active a{
    background-color : #011936 !important;
    border-color: white !important;
}

.my-grid {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr /*5fr /*5fr*/;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: auto;
    width: 75%;
}

.sup-photo {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10% / 50%;
    cursor: pointer;
}

.com-photo {
    background-color:#57436b;
    color: white;
    padding: 5px;
    border-radius: 10% / 50%;
}

.like-photo {
    background-color:#6b6843;
    color: white;
    padding: 5px;
    border-radius: 10% / 50%;
}

.nav-link {
    padding: 2rem 1rem;
}

.toast {
    position:fixed;
    right:5px;
    z-index: 500;
    padding:20px;
    border: solid 1px #14122d4d;
}

main {
    margin-bottom:10px;
}

@media screen and (max-width: 1130px) {
    .my-area {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 991.98px) { 
    .my-comment {
        width: 100%;
    }
    .my-grid {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 85%;
    }

    .my-area {
        flex-direction: column !important;
    }

    .my-grid > picture {
        width:100%;
    }
}

@media screen and (max-width: 575px){
    .my-grid {
        grid-template-columns: 1fr;
        margin: auto;
        width: 95%;
    }

    .my-area {
        flex-direction: column !important;
    }

    .my-grid > picture {
        width:100%;
    }

    .my-comment {
        width: 100%;
    }

    .nav-link {
        padding: 0.8rem 1rem;
    }
}