.my_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.my_modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.my_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.my_close-button:hover {
    background-color: darkgray;
}
.my_show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.my-wrapper {
    position: relative;
    overflow: hidden;
}

.my-area {
    background-color: #d4d4d4;
}

.my-area > img {
    width:10%;
    height: 10%;
}

.my-area > button {
    border-radius:0px;
}

.my-deco {
    position: absolute;
    z-index: 1;
}

.msg-info {
    min-height: 300px;
}

.my-area > label {
    margin-bottom: 0;
    border-radius:0px;
}

#set-img {
    min-height: 100px;
}

canvas {
    background-color: blue; 
    /*width: 100%;*/
    /*height: auto;*/
}

.my-gallery > picture {
    position : relative;
    /*width:30%;*/
    margin:0.4em;
}

.img-thumbnail {
    padding: 0;
    border: 0px solid #dee2e6;
    border-radius: .25rem;
}

.name-photo {
    background-color: #20202033;
    position : absolute;
    top:0;
}

.my-img {
    max-height: 30vh;
}

@media screen and (max-width: 991.98px) { 
    .my-gallery > picture {
        width:45%;
    }
}

@media screen and (max-width: 640px){
    .my-gallery > picture {
        width:100%;
    }
}

